.contactUs {
  display: flex;
  justify-content: center;

  &__title {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/contactUs.png);
    margin-top: 50px;
  }

  &__text-Title {
    padding-top: 15px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: $light-blue;
  }

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 154px;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: 1120px) {
      justify-content: space-between;
    }
  }

  &__input {
    box-sizing: border-box;
    margin-top: 40px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid $light-blue;
    padding: 0 0 0 30px;
    width: 100%;
    max-width: 540px;

    &:last-child {
      @media (min-width: 1120px) {
        max-width: none;
      }
    }

    &--name {
      background: url(../images/name.png) no-repeat scroll;
    }
    &--email {
      background: url(../images/mail.png) no-repeat scroll;
    }
    &--company {
      background: url(../images/company.png) no-repeat scroll;
    }
    &--phone {
      background: url(../images/phone.png) no-repeat scroll;
    }
    &--message {
      background: url(../images/message.png) no-repeat scroll;
    }
  }

  &__button {
    width: 178px;
    height: 56px;
    color: #fff;
    background: $light-blue;
    box-shadow: 0px 4px 10px rgba(55, 123, 169, 0.3);
    border-radius: 10px;
    border: none;
    transition: 500ms;


    &:hover {
      transition: 500ms;
      background-color: $dark-blue;
      transform: scale(1.05);
    }
  }
}
