.menu {
  height: 100vh;
  background-color: #fff;
  z-index: 1;

  &__content {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100vh;

    @media (min-height:320px) {
      padding: 5;
    }
  }

  &__list {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;

    @media (max-height:375px) {
      margin-bottom: 5px;
    }
  }

  &__item {
    margin: 0 34px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-height:375px) {
      margin-bottom: 0;
    }
  }

  &__link {
    padding: 0 24px;
    display: inline-block;
    width: 100%;
    padding: 24px 0;
    border-bottom: 1px solid;
    color: #202020;
    text-decoration: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;

    transition: border-color 0.5s;

    &:hover {
      border-color: #fff;
    }
  }

}
